In [1]:
# week4_data_prep.ipynb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load your Week 3 features file
df = pd.read_csv("features.csv")
print("Initial shape:", df.shape)

# Preview data
df.head()

Initial shape: (1, 76)

,session_id,src_ip,start,end,duration,cmd_count,unique_cmds,downloads,start_hour,sequence_text,...,seq_54,seq_55,seq_56,seq_57,seq_58,seq_59,seq_60,seq_61,seq_62,seq_63
0,1.2.3.4-na,1.2.3.4,NaN,NaN,NaN,0,0,0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
# Check missing values
print("Missing values per column:")
print(df.isnull().sum().sort_values(ascending=False).head(10))

# Replace NaN with 0 or column mean depending on type
for col in df.columns:
    if df[col].dtype in [np.float64, np.int64]:
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna("unknown")

print("\n✅ Missing values handled.")

Missing values per column:
start            1
end              1
duration         1
start_hour       1
sequence_text    1
session_id       0
seq_38           0
seq_44           0
seq_43           0
seq_42           0
dtype: int64

✅ Missing values handled.

In [3]:
# Drop duplicate rows if any
df = df.drop_duplicates()

# Remove obvious non-feature columns (like timestamps or IDs)
to_drop = [c for c in df.columns if "timestamp" in c.lower() or "session_id" in c.lower()]
df = df.drop(columns=to_drop, errors="ignore")

print("After cleanup:", df.shape)

After cleanup: (1, 75)